body button {
  background-color: #6fc6ca;
  color: #f2eeae;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px grey;
}

.MainUXUI h5, .MainDG h5, .main-contactate .contactate div h5, .main-index h5, .main-index .cuerpo-index h5, .MainSM .Estudios h5, .MainSM div h5 {
  background-color: #bb95b7;
  color: #fcc1ae;
  font-size: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.MainUXUI .GridContainer, .MainDG .GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
}

body button {
  background-color: #6fc6ca;
  color: #f2eeae;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px grey;
}

.MainUXUI h5, .MainDG h5, .main-contactate .contactate div h5, .main-index h5, .main-index .cuerpo-index h5, .MainSM .Estudios h5, .MainSM div h5 {
  background-color: #bb95b7;
  color: #fcc1ae;
  font-size: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.MainUXUI .GridContainer, .MainDG .GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
}

body {
  background-color: #fcc1ae;
  font-family: "Vidaloka";
  color: #bb95b7;
}
body .audio {
  background-image: linear-gradient(to bottom, #fcc1ae, #f2eeae);
  padding: 50px;
}

header {
  background: url(../IMAGENES/HOME/banner.jpg) no-repeat center;
  background-size:cover;
  padding-top: 700px;
}
header .Container h1 {
  color: #e4a4b0;
  font-size: 50px;
  font-family: "Pattaya";
  padding-left: 15px;
}
header .Container h1 a {
  text-decoration: none;
  color: #e4a4b0;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  header .Container h1 {
    font-size: 40px;
  }
}
header .Container .itemfixed {
  position: fixed;
  margin-left: 88%;
  font-family: "Pattaya";
}
header .Container .itemfixed a {
  text-decoration: none;
  color: #f2eeae;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  header .Container .itemfixed a {
    font-size: 13px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  header .Container .itemfixed {
    right: 10px;
    top: 70%;
    padding: 0px 10px 5px 10px;
  }
}
header .Container .MainMenuContainer div .MainMenu {
  font-size: 30px;
  font-family: "Josefin Sans";
  background-image: linear-gradient(to bottom, #f2eeae, #fcc1ae);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header .Container .MainMenuContainer div .MainMenu a {
  list-style: none;
  text-decoration: none;
  color: #bb95b7;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  header .Container .MainMenuContainer div .MainMenu .MenuItem {
    margin: 2px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  header .Container .MainMenuContainer div .MainMenu {
    flex-direction: column;
    font-size: 20px;
  }
}

.MainSM div .Presentacion {
  color: #f2eeae;
  background-color: #fcc1ae;
  font-size: 30px;
  padding: 50px;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 2px grey;
}
.MainSM div .Texto {
  padding: 50px;
  font-family: "Josefin Sans";
  font-size: 25px;
  color: #bb95b7;
  line-height: 1.5;
  text-shadow: 2px 2px 2px #f2eeae;
}
.MainSM .Estudios div {
  background-color: #fcc1ae;
  padding: 20px;
}
.MainSM .Estudios div table {
  width: 100%;
  border: 2px solid #f2eeae;
  border-spacing: 0;
  color: #f2eeae;
  box-shadow: 5px 5px 5px grey;
}
.MainSM .Estudios div table tr td {
  border: 1px solid #f2eeae;
  padding: 2px;
}

.main-index .cuerpo-index .img-home {
  display: flex;
  justify-content: center;
  transition: all 2s;
}
.main-index .cuerpo-index .img-home:hover {
  padding: 50px;
}
.main-index .cuerpo-index .img-home img {
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px grey;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  .main-index .cuerpo-index .img-home img {
    width: 280px;
  }
}
.main-index .container .row .col-6 .offset-3 .carouselExampleSlidesOnly .carousel-inner .carousel-item .active {
  height: 500px;
}

.main-contactate .contactate div h5 a {
  color: #f2eeae;
}
.main-contactate .input {
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.main-contactate .input .email {
  border-radius: 4px;
  border: solid 1px #e4a4b0;
  width: 200px;
  height: 20px;
  padding-left: 10px;
}
.main-contactate .region {
  padding-left: 50px;
  padding-bottom: 20px;
}
.main-contactate .region .option {
  border-radius: 4px;
  border: solid 1px #e4a4b0;
  width: 100px;
  height: 20px;
  padding-left: 10px;
}
.main-contactate .comentarios-box {
  padding-left: 50px;
  padding-bottom: 20px;
}
.main-contactate .comentarios-box .comentarios {
  resize: none;
  border-radius: 4px;
  border: solid 1px #e4a4b0;
  width: 300px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}
.main-contactate .signup {
  margin-left: 50px;
  margin-bottom: 30px;
}
.main-contactate .signup .newsletter {
  margin-bottom: 20px;
  text-shadow: 0.5px 0.5px 0.5px grey;
}
.main-contactate .signup .checkbox {
  margin-left: 10px;
}
.main-contactate .signup .sup {
  padding: 5px 15px 10px 15px;
}

.MainDG h5 {
  margin-top: 5%;
}
.MainDG .GridContainer .GridImg {
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}
.MainDG .GridContainer .GridImg:hover {
  transform: scale3d(1.25, 1.25, 1.25);
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  .MainDG .GridContainer .GridImg {
    width: 90%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .MainDG .GridContainer .GridImg {
    width: 90%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  .MainDG .GridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .MainDG .GridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
}

.FE img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 20px;
}
.FE img:hover {
  transform: scale3d(1.25, 1.25, 1.25);
}

.MainUXUI h5 {
  margin-top: 5%;
}
.MainUXUI .GridContainer .GridImg {
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}
.MainUXUI .GridContainer .GridImg:hover {
  transform: scale3d(1.25, 1.25, 1.25);
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  .MainUXUI .GridContainer .GridImg {
    width: 90%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .MainUXUI .GridContainer .GridImg {
    width: 90%;
    object-fit: cover;
  }
}
.MainUXUI .GridContainer .Large {
  height: 700px;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  .MainUXUI .GridContainer .Large {
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .MainUXUI .GridContainer .Large {
    height: 500px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  .MainUXUI .GridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .MainUXUI .GridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
}

footer {
  background-color: #bb95b7;
  padding-left: 50px;
  padding-top: 50px;
}
footer .MenuFooter ul {
  font-family: "Josefin Sans";
  font-size: 24px;
  line-height: 34px;
}
footer .MenuFooter ul li a {
  list-style: none;
  text-decoration: none;
  color: #e4a4b0;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  footer .MenuFooter ul li a {
    font-size: 13px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  footer .MenuFooter ul li a {
    font-size: 20px;
  }
}
footer .CV {
  margin-top: 20px;
  padding-left: 10px;
}
footer .CV a {
  text-decoration: none;
  color: #f2eeae;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  footer .CV a {
    font-size: 13px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  footer .CV a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  footer .CV {
    right: 10px;
    padding: 0px 10px 5px 10px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  footer .CV {
    right: 10px;
    padding: 10px 20px 15px 20px;
    margin-top: 20px;
  }
}
footer .logos {
  padding-left: 75%;
  padding-bottom: 50px;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  footer .logos {
    padding-left: 0%;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  footer .logos {
    padding-left: 70%;
  }
}
footer .logos .IconosLogos {
  width: 50px;
  height: auto;
  padding: 5px;
}
@media only screen and (min-width: 280px) and (max-width: 799px) {
  footer .logos .IconosLogos {
    width: 30px;
    height: auto;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  footer .logos .IconosLogos {
    max-width: 50px;
    height: auto;
  }
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
