@import "../base/variables";
.main-contactate {
    .contactate {
        div {
            h5 {
                a {
                    color: $color-sun;
                }
            }
        }
    }
    .input {
        padding-top: 20px;
        padding-left: 50px;
        padding-bottom: 20px;
        .email {
            border-radius: 4px;
            border: solid 1px $color-pink;
            width: 200px;
            height: 20px;
            padding-left: 10px;
        }
    }
    .region {
        padding-left: 50px;
        padding-bottom: 20px;
        .option {
            border-radius: 4px;
            border: solid 1px $color-pink;
            width: 100px;
            height: 20px;
            padding-left: 10px;
        }
    }
    .comentarios-box {
        padding-left: 50px;
        padding-bottom: 20px;
        .comentarios {
            resize: none;
            border-radius: 4px;
            border: solid 1px $color-pink;
            width: 300px;
            height: 100px;
            padding-left: 10px;
            padding-top: 10px;
        }
    }
    .signup {
        margin-left: 50px;
        margin-bottom: 30px;
        .newsletter {
            margin-bottom: 20px;
        }
        .checkbox {
            margin-left: 10px;
        }
        .sup {
            padding: 5px 15px 10px 15px;
        }
    }
}
