@import "../base/extends";
.MainDG {
    .GridContainer {
    
        .GridImg {
            width: 400px;
            object-fit: cover;
        }
        .PDB {
            padding-bottom: 150px;
        }
    }
}