.MainDG {
    .GridContainer {
        @extend %gridcontainer;
        .GridImg {
            width: 400px;
            object-fit: cover;
            @media only screen and (min-width: 280px) and (max-width: 799px) {
                width: 90%;
                object-fit: cover;
            }
            @media only screen and (min-width: 800px) and (max-width: 1300px) {
                width: 90%;
                object-fit: cover;
            }
        }
        .PDB {
            padding-bottom: 150px;
        }
        @media only screen and (min-width: 280px) and (max-width: 799px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            justify-items: center;
            align-items: center;
        }
        @media only screen and (min-width: 800px) and (max-width: 1300px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;
            justify-items: center;
            align-items: center;
        }
    }
}