@import "../base/listas";
header {
    background: url(../../IMAGENES/fondoheader.jpg) no-repeat center;
    background-size:cover;
    padding-top: 325px;
    .Container {
        h1 {
            color:$color-pink; 
            font-size: 50px; 
            font-family: nth($tipografias, 3 );
            padding-left: 15px;
            a {
                text-decoration: none;
                color: $color-pink;
            }
            @media only screen and (min-width: 280px) and (max-width: 799px) {
                font-size: 40px;
            }
        }
        .itemfixed {
            position: fixed;
            margin-left: 88%;
            font-family: nth($tipografias , 3 );
            a {
                text-decoration: none;
                color: $color-sun;
                @media only screen and (min-width: 280px) and (max-width: 799px) {
                    font-size: 13px;
                }
            }
            @media only screen and (min-width: 280px) and (max-width: 799px) {
                right: 10px;
                top: 70%;
                padding: 0px 10px 5px 10px; 
            }
        }
        .MainMenuContainer {
            div {
                .MainMenu {
                    font-size: 30px;
                    font-family: nth($tipografias, 1);
                    background-image: linear-gradient(to bottom, $color-sun, $color-sunset);
                    padding: 30px;
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    a {
                        list-style: none;
                        text-decoration: none;
                        color: $color-lila;
                    }
                    .MenuItem {
                        @media only screen and (min-width: 280px) and (max-width: 799px){
                            margin: 2px;
                        }
                    }
                    @media only screen and (min-width: 280px) and (max-width: 799px) {
                        flex-direction: column;
                        font-size: 20px;
                    }
                }

            }
        }
    }
}
