.main-index {
    .cuerpo-index {
        h5 {
            @extend %h5;
        }
        .img-home {
            display: flex;
            justify-content: center;
            transition: all 2s;
            &:hover {
                padding: 50px;
            }
            img {
                width: 80%;
                max-width: 900px;
            }
        }
    }
    h5 {
        @extend %h5;
        .container {
            .row {
                .col-6 .offset-3 {
                    .carouselExampleSlidesOnly {
                        .carousel-inner {
                            .carousel-item .active {
                                height: 500px;
                            }
                        }
                    }
                }
            }
        }
    }
}
