.MainUXUI {
    h5 {
        @extend %h5;
        margin-top: 5%;
    }
    .GridContainer {
        @extend %gridcontainer;
        .GridImg {
            width: 400px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 2px 2px 5px grey;
            &:hover {
                transform: scale3d(1.25,1.25,1.25)
            }
            @media only screen and (min-width: 280px) and (max-width: 799px) {
                width: 90%;
                object-fit: cover;
            }
            @media only screen and (min-width: 800px) and (max-width: 1300px) {
                width: 90%;
                object-fit: cover;
            }
        }
        .Large {
            height: 700px;
            @media only screen and (min-width: 280px) and (max-width: 799px) {
                max-height: 200px;
                object-fit: contain;
                margin-bottom: 20px;
            }
            @media only screen and (min-width: 800px) and (max-width: 1300px) {
                height: 500px;
                margin-bottom: 20px;
            }
        }
        @media only screen and (min-width: 280px) and (max-width: 799px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            justify-items: center;
            align-items: center;
        }
        @media only screen and (min-width: 800px) and (max-width: 1300px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;
            justify-items: center;
            align-items: center;
        }
    }
}